body {
  background-image: url(background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
@media (min-width:500px){ h1{
font-family: arial;
color:white;
font-size: 2em;}}
@media(min-width: 750px){ h1{
 font-family: georgia;
 color:white;
font-size: 3em;}}
@media(min-width: 1000px){ h1 {
font-family: serif;
color:white;
font-size: 4em;}}
